html{
  box-sizing: border-box;

}
body{
  background-color: darkgray;
  color: black;
  font-family: helvetica 'Courier New', Courier, monospace;
 margin: 0;
 padding: 0;
 
 
}

header{
  background-color:cadetblue;
  margin: 0;
  padding: 5px;
  height: 100px;
  overflow-x: hidden;
  
 
}
header a{
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}
nav ul{
  padding: 0 ;
  list-style-type:none;
  margin: 0px;
  display: flex;
  flex-direction: column;
 

}
nav li{
  display: inline-block;
  margin-right: 20px;
}
footer{
background-color: black;
color: gray;
padding: 10px 20px;
text-align: center;  
}
section{
  padding: 20px;
}
input[type="checkbox"]:checked + nav{
  transform: translateX(100%);
}